__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Data and outputs
data/raw/*
!data/raw/.gitkeep
processed/*
!processed/.gitkeep
results/figures/*
!results/figures/.gitkeep
results/logs/*
!results/logs/.gitkeep
